{% extends 'reminder/base.html' %}

{% block main %}
    <div class="layui-container">
        <fieldset class="layui-elem-field">
            <legend>{{ chapter.order }}&nbsp;{{ chapter.name|default_if_none:'' }}</legend>
            <div class="layui-field-box">
                {{ chapter.content|safe }}
            </div>
        </fieldset>

        <div class="layui-row" style="padding-bottom: 16px;text-align: center">
            <div class="layui-col-xs4 layui-col-md4">
                {% if chapter_previous %}
                    <a class="link" href="{% url 'chapter_detail' chapter_previous.id %}">上一页</a>
                {% else %}
                    暂无
                {% endif %}
            </div>

            <div class="layui-col-xs4 layui-col-md4">
                <a class="link" href="{% url 'chapter_list' %}">目录</a>
            </div>

            <div class="layui-col-xs4 layui-col-md4">
                {% if chapter_next %}
                    <a class="link" href="{% url 'chapter_detail' chapter_next.id %}">下一页</a>
                {% else %}
                    暂无
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}